# Neuron Git Ignore Configurations

# Compiled Binaries
neuron
neuron.exe
*.exe

# Node dependencies & builds
node_modules/
.next/
out/
dist/

# Operating System temporary caches
.DS_Store
Thumbs.db

# Testbeds & scaffold samples
scaffolded-api/
my-go-app/
my-node-app/
